#leftPane {
    -fx-pref-width: 30em;
    -fx-padding: 0em 1em 0em 1em;
    -fx-border-style: solid;
    -fx-border-color: lightgray;
    -fx-border-width: 0px 1px 0px 0px;
}

#titleHBox {
    -fx-text-alignment: center;
}

#infoPane {
    -fx-vgap: 10px;
}

#tablePane {
    -fx-padding: 0em 1em 1em 1em;
}

#tableTopBar {
    -fx-spacing: 1em;
    -fx-padding: 0.7em 0em 0.7em 0em;
    -fx-alignment: center-right;
}

#bottomButtonsHBox {
    -fx-padding: 0em 0.8em 1em 0em;
    -fx-alignment: center;
    -fx-spacing: 0.5em;
}

#bottomButtonsHBox Button {
    -fx-pref-width: 9em;
}