# Defines files and folders that git will ignore
# This prevents problems with incompatible metadata files and configuration files

# IntelliJ-specific project files

# Visual Paradigm
*.bak*
*.vux
*.lck

# Database backup on Marcello's computer
/master/working/lib/GM-SIS - Copy.db

# Scratch folders
scratch/
.idea/workspace.xml
target/
