# Defines files and folders that git will ignore
# This prevents problems with incompatible metadata files and configuration files

# IntelliJ-specific project files (Marcello)

# Visual Paradigm
*.bak*
*.vux