.root {
    -fx-alignment: center;
    -fx-font-family: 'Roboto Light';
    -fx-background-color: white;
}
#tabHBox {
    -fx-background-color: white;
    -fx-fit-to-width: true;
    -fx-alignment: top-center;
    -fx-padding: 0em 0em 1px 0em;
    -fx-border-style: solid;
    -fx-border-color: darkgrey;
    -fx-border-width: 0px 0px 1px 0px;
}
#tabHBox Button {
    -fx-pref-height: 3.5em;
    -fx-background-color: #e0e0e0;

    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
#tabHBox Button:hover {
    -fx-background-color: lightgray;
}