/* LOGIN SCREEN STYLESHEET */

#BorderPane {
    -fx-padding: 5em;
}

#GridPane {
    -fx-padding: 2em;
}

HBox {
    -fx-alignment: center;
}

#titleText {
    -fx-font-family: sans-serif;
    -fx-font-size: 2em;
    -fx-padding: 1em;
}

#username {
    -fx-max-height: 0.5em;
    -fx-spacing: 0.5em;
}

#password {
    -fx-max-height: 1em;
}

#bottomBox {
    -fx-spacing: 1em;
}