/* MAIN STYLESHEET */

.root {
    -fx-alignment: center;
    -fx-font-family: 'Roboto Light';
    -fx-background-color: white;
}

#tabTilePane {
    -fx-background-color: white;
    -fx-fit-to-width: true;
    -fx-alignment: top-center;
    -fx-padding: 0em 0em 1px 0em;
    -fx-border-style: solid;
    -fx-border-color: darkgrey;
    -fx-border-width: 0px 0px 1px 0px;
}

#tabTilePane Button {
    -fx-pref-height: 3.5em;
    -fx-background-color: #e0e0e0;

    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
#tabTilePane Button:hover {
    -fx-background-color: lightgray;
}



/* BOOKINGS SECTION */
#calendarPane, #listPane {
    -fx-padding: 0em 1em 1em 1em;
}

#calendarPaneTopControls, #listPaneTopControls {
    -fx-spacing: 1em;
    -fx-padding: 0.7em 0em 0.7em 0em;
    -fx-alignment: center-right;
}
#calendarPaneTopControls Button, #listPaneTopControls Button {
    -fx-end-margin: 1em;
    -fx-background-radius: 15px;
    -fx-pref-width: 9em;
}
#calendarPaneTopControls TextField, #listPaneTopControls TextField {
    -fx-pref-width: 15em;
    -fx-background-radius: 15px;
}

#detailsPane {
    -fx-pref-width: 30em;
    -fx-padding: 0em 1em 0em 1em;
    -fx-background-color: lightgray;
}
#detailsTitle {
    -fx-font-size: 2em;
    -fx-padding: 0.5em 0em 0.5em 0em;
    -fx-alignment: center;
}
#detailsGridPane {
    -fx-vgap: 10px;
}
#descriptionTextArea {
    -fx-pref-height: 7em;
}
#bookingPartsTable {
    -fx-pref-height: 10em;
}
#partsButtonsHBox {
    -fx-alignment: top-right;
    -fx-spacing: 0.5em;
}
#partsButtonsHBox Button {
    -fx-min-height: 25px;
    -fx-min-width: 25px;
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 25px;
}
#addPartButton {
    -fx-background-image: url("/resources/booking/plus.png");
}
#removePartButton {
    -fx-background-image: url("/resources/booking/minus.png");
}
#PartsPopOverPane #partsTable {
    -fx-pref-height: 10em;
    -fx-pref-width: 25em;
}
#PartsPopOverPane {
    -fx-pref-width: 50em;
}
#detailsButtons {
    -fx-padding: 0em 0.8em 1em 0em;
    -fx-alignment: center;
    -fx-spacing: 0.5em;
}
#detailsButtons Button {
    -fx-pref-width: 9em;
}