/* MAIN STYLESHEET */

.root {
    -fx-alignment: center;
}

#tabTilePane {
    -fx-background-color: white;
    -fx-fit-to-width: true;
    -fx-alignment: top-center;
}

#tabTilePane Button {
    -fx-pref-height: 3.5em;
    -fx-border-style: none;
}



/* BOOKINGS SECTION */
#calendarToggle {
    -fx-spacing: 1em;
    -fx-padding: 0.7em 0em 0.7em 0em;
    -fx-alignment: center-right;
}
#calendarToggle Button {
    -fx-end-margin: 1em;
    -fx-background-radius: 10px;
    -fx-pref-width: 9em;
}
#calendarToggle TextField {
    -fx-pref-width: 25em;
    -fx-background-radius: 15px;
}
#bookingsTable columns TableColumn {
    -fx-pref-width: 45em;
}
#monthWeekList {
    -fx-padding: 1em;
}
#addBookingPane {
    -fx-pref-width: 30em;
    -fx-padding: 0em 1em 0em 1em;
}
#addBookingTitle {
    -fx-font-size: 2em;
    -fx-padding: 0.8em 0em 1.6em 0em;
    -fx-alignment: center;
}
#customerListB {
    -fx-pref-height: 4em;
}
#addBookingButtons {
    -fx-padding: 0em 0.8em 1em 0em;
    -fx-alignment: center;
    -fx-spacing: 2em;
}